<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sumamente">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:configChanges="locale|layoutDirection"
        android:theme="@style/Theme.SumaMente"
        android:hardwareAccelerated="true">

        <activity
            android:name=".ui.SettingsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.FlagSelectionActivity"
            android:exported="false" />

        <activity
            android:name=".ui.LevelsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.LevelsActivityPrincipiante"
            android:exported="false" />

        <activity
            android:name=".ui.LevelsActivityPro"
            android:exported="false" />

        <activity
            android:name=".ui.LevelsActivityDeciPlus"
            android:exported="false" />

        <activity
            android:name=".ui.LevelsActivityDeciPlusPrincipiante"
            android:exported="false" />

        <activity
            android:name=".ui.LevelsActivityDeciPlusPro"
            android:exported="false" />

        <activity
            android:name=".ui.LevelsActivityRomas"
            android:exported="false" />

        <activity
            android:name=".ui.LevelsActivityRomasPrincipiante"
            android:exported="false" />

        <activity
            android:name=".ui.LevelsActivityRomasPro"
            android:exported="false" />

        <activity
            android:name=".ui.LevelsActivityAlfaNumeros"
            android:exported="false" />

        <activity
            android:name=".ui.LevelsActivityAlfaNumerosPrincipiante"
            android:exported="false" />

        <activity
            android:name=".ui.LevelsActivityAlfaNumerosPro"
            android:exported="false" />

        <activity
            android:name=".ui.LevelsActivitySumaResta"
            android:exported="false" />

        <activity
            android:name=".ui.LevelsActivitySumaRestaPrincipiante"
            android:exported="false" />

        <activity
            android:name=".ui.LevelsActivitySumaRestaPro"
            android:exported="false" />

        <activity
            android:name=".ui.LevelsActivityMasPlus"
            android:exported="false" />

        <activity
            android:name=".ui.LevelsActivityMasPlusPrincipiante"
            android:exported="false" />

        <activity
            android:name=".ui.LevelsActivityMasPlusPro"
            android:exported="false" />

        <activity
            android:name=".ui.LevelsActivityGenioPlus"
            android:exported="false" />

        <activity
            android:name=".ui.LevelsActivityGenioPlusPrincipiante"
            android:exported="false" />

        <activity
            android:name=".ui.LevelsActivityGenioPlusPro"
            android:exported="false" />

        <activity
            android:name=".ui.TutorialActivityNumeros"
            android:exported="false" />

        <activity
            android:name=".ui.TutorialActivityDeciPlus"
            android:exported="false" />

        <activity
            android:name=".ui.TutorialActivityRomas"
            android:exported="false" />

        <activity
            android:name=".ui.TutorialActivitySumaResta"
            android:exported="false" />

        <activity
            android:name=".ui.TutorialActivityAlfaNumeros"
            android:exported="false" />

        <activity
            android:name=".ui.TutorialActivityMasPlus"
            android:exported="false" />

        <activity
            android:name=".ui.TutorialActivityGenioPlus"
            android:exported="false" />

        <activity
            android:name=".ui.HelpTutorialActivityNumeros"
            android:exported="false" />

        <activity
            android:name=".ui.HelpTutorialActivityDeciPlus"
            android:exported="false" />

        <activity
            android:name=".ui.HelpTutorialActivityRomas"
            android:exported="false" />

        <activity
            android:name=".ui.HelpTutorialActivitySumaResta"
            android:exported="false" />

        <activity
            android:name=".ui.HelpTutorialActivityAlfaNumeros"
            android:exported="false" />

        <activity
            android:name=".ui.HelpTutorialActivityMasPlus"
            android:exported="false" />

        <activity
            android:name=".ui.HelpTutorialActivityGenioPlus"
            android:exported="false" />

        <activity
            android:name=".ui.InstructionsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.InstructionsActivityPrincipiante"
            android:exported="false" />

        <activity
            android:name=".ui.InstructionsActivityPro"
            android:exported="false" />

        <activity
            android:name=".ui.InstructionsActivityDeciPlus"
            android:exported="false" />

        <activity
            android:name=".ui.InstructionsActivityDeciPlusPrincipiante"
            android:exported="false" />

        <activity
            android:name=".ui.InstructionsActivityDeciPlusPro"
            android:exported="false" />

        <activity
            android:name=".ui.InstructionsActivityRomas"
            android:exported="false" />

        <activity
            android:name=".ui.InstructionsActivityRomasPrincipiante"
            android:exported="false" />

        <activity
            android:name=".ui.InstructionsActivityRomasPro"
            android:exported="false" />

        <activity
            android:name=".ui.InstructionsActivityAlfaNumeros"
            android:exported="false" />

        <activity
            android:name=".ui.InstructionsActivityAlfaNumerosPrincipiante"
            android:exported="false" />

        <activity
            android:name=".ui.InstructionsActivityAlfaNumerosPro"
            android:exported="false" />

        <activity
            android:name=".ui.InstructionsActivitySumaResta"
            android:exported="false" />

        <activity
            android:name=".ui.InstructionsActivitySumaRestaPrincipiante"
            android:exported="false" />

        <activity
            android:name=".ui.InstructionsActivitySumaRestaPro"
            android:exported="false" />

        <activity
            android:name=".ui.InstructionsActivityMasPlus"
            android:exported="false" />

        <activity
            android:name=".ui.InstructionsActivityMasPlusPrincipiante"
            android:exported="false" />

        <activity
            android:name=".ui.InstructionsActivityMasPlusPro"
            android:exported="false" />

        <activity
            android:name=".ui.InstructionsActivityGenioPlus"
            android:exported="false" />

        <activity
            android:name=".ui.InstructionsActivityGenioPlusPrincipiante"
            android:exported="false" />

        <activity
            android:name=".ui.InstructionsActivityGenioPlusPro"
            android:exported="false" />

        <activity
            android:name=".ui.GameActivity"
            android:exported="false" />

        <activity
            android:name=".ui.GameActivityPrincipiante"
            android:exported="false" />

        <activity
            android:name=".ui.GameActivityPro"
            android:exported="false" />

        <activity
            android:name=".ui.GameActivityDeciPlus"
            android:exported="false" />

        <activity
            android:name=".ui.GameActivityDeciPlusPrincipiante"
            android:exported="false" />

        <activity
            android:name=".ui.GameActivityDeciPlusPro"
            android:exported="false" />

        <activity
            android:name=".ui.GameActivityRomas"
            android:exported="false" />

        <activity
            android:name=".ui.GameActivityRomasPrincipiante"
            android:exported="false" />

        <activity
            android:name=".ui.GameActivityRomasPro"
            android:exported="false" />

        <activity
            android:name=".ui.GameActivityAlfaNumeros"
            android:exported="false" />

        <activity
            android:name=".ui.GameActivityAlfaNumerosPrincipiante"
            android:exported="false" />

        <activity
            android:name=".ui.GameActivityAlfaNumerosPro"
            android:exported="false" />

        <activity
            android:name=".ui.GameActivitySumaResta"
            android:exported="false" />

        <activity
            android:name=".ui.GameActivitySumaRestaPrincipiante"
            android:exported="false" />

        <activity
            android:name=".ui.GameActivitySumaRestaPro"
            android:exported="false" />

        <activity
            android:name=".ui.GameActivityMasPlus"
            android:exported="false" />

        <activity
            android:name=".ui.GameActivityMasPlusPrincipiante"
            android:exported="false" />

        <activity
            android:name=".ui.GameActivityMasPlusPro"
            android:exported="false" />

        <activity
            android:name=".ui.GameActivityGenioPlus"
            android:exported="false" />

        <activity
            android:name=".ui.GameActivityGenioPlusPrincipiante"
            android:exported="false" />

        <activity
            android:name=".ui.GameActivityGenioPlusPro"
            android:exported="false" />

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.SumaMente.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.LanguageSelectionActivity"
            android:exported="false" />

        <activity
            android:name=".ui.LanguageChangeActivity"
            android:exported="false" />

        <activity
            android:name=".ui.TransitionActivity"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name=".ui.NotificationsActivity"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name=".ui.UsernameSelectionActivity"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name=".ui.MainGameActivity"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name=".ui.ClassificationActivity"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name=".ui.TrofeosActivity"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name=".ui.PinesActivity"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name=".ui.CoronasActivity"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name=".ui.MedallasActivity"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name=".ui.TrofeosDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name=".ui.Top10Activity"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name=".ui.Los7MejoresActivity"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name=".ui.Los5MejoresActivity"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name=".ui.DesafiosActivity"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name=".ui.LevelResultActivity"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name=".ui.LevelResultActivityPrincipiante"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name=".ui.LevelResultActivityPro"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name=".ui.ExerciseReviewActivity"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />


        <activity
            android:name=".ui.LevelResultActivityDeciPlus"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name=".ui.LevelResultActivityDeciPlusPrincipiante"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name=".ui.LevelResultActivityDeciPlusPro"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name=".ui.ExerciseReviewActivityDeciPlus"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />


        <activity
            android:name=".ui.LevelResultActivityRomas"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name=".ui.LevelResultActivityRomasPrincipiante"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name=".ui.LevelResultActivityRomasPro"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name=".ui.ExerciseReviewActivityRomas"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name=".ui.LevelResultActivityAlfaNumeros"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name=".ui.LevelResultActivityAlfaNumerosPrincipiante"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name=".ui.LevelResultActivityAlfaNumerosPro"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name=".ui.ExerciseReviewActivityAlfaNumeros"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name=".ui.LevelResultActivitySumaResta"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name=".ui.LevelResultActivitySumaRestaPrincipiante"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name=".ui.LevelResultActivitySumaRestaPro"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name=".ui.ExerciseReviewActivitySumaResta"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name=".ui.LevelResultActivityMasPlus"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name=".ui.LevelResultActivityMasPlusPrincipiante"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name=".ui.LevelResultActivityMasPlusPro"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name=".ui.ExerciseReviewActivityMasPlus"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name=".ui.LevelResultActivityGenioPlus"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name=".ui.LevelResultActivityGenioPlusPrincipiante"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name=".ui.LevelResultActivityGenioPlusPro"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name=".ui.ExerciseReviewActivityGenioPlus"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name=".ui.GameSelectionActivity"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name=".ui.DifficultySelectionActivity"
            android:exported="false" />

        <activity
            android:name=".ui.HelpGameSelectionActivity"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name=".ui.ResetProgressActivity"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name=".ui.ApexSupremusActivity"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name=".ui.RankingActivity"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name=".ui.SpeedRankingActivity"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name=".ui.IQPlusRankingActivity"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name=".ui.IntegralRankingActivity"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name=".ui.SpeedClassificationActivity"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name=".ui.MisCondecoracionesActivity"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />



    </application>

</manifest>
