<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.heptacreation.sumamente">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/notification_app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:configChanges="locale|layoutDirection"
        android:theme="@style/Theme.SumaMente"
        android:hardwareAccelerated="true"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="33">

        <service
            android:name=".ui.utils.SumamenteFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.heptacreation.sumamente.ui.SettingsActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.MessagesActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.ProfileEditActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.EmbajadorActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.CanjeActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.PremiumPlansActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.CoinPacksActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.FlagSelectionActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.LevelsActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.LevelsActivityPrincipiante"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.LevelsActivityPro"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.LevelsActivityDeciPlus"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.LevelsActivityDeciPlusPrincipiante"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.LevelsActivityDeciPlusPro"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.LevelsActivityRomas"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.LevelsActivityRomasPrincipiante"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.LevelsActivityRomasPro"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.LevelsActivityAlfaNumeros"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.LevelsActivityAlfaNumerosPrincipiante"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.LevelsActivityAlfaNumerosPro"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.LevelsActivitySumaResta"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.LevelsActivitySumaRestaPrincipiante"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.LevelsActivitySumaRestaPro"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.LevelsActivityMasPlus"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.LevelsActivityMasPlusPrincipiante"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.LevelsActivityMasPlusPro"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.LevelsActivityGenioPlus"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.LevelsActivityGenioPlusPrincipiante"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.LevelsActivityGenioPlusPro"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.TutorialActivityNumeros"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.TutorialActivityDeciPlus"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.TutorialActivityRomas"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.TutorialActivitySumaResta"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.TutorialActivityAlfaNumeros"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.TutorialActivityMasPlus"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.TutorialActivityGenioPlus"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.HelpTutorialActivityNumeros"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.HelpTutorialActivityDeciPlus"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.HelpTutorialActivityRomas"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.HelpTutorialActivitySumaResta"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.HelpTutorialActivityAlfaNumeros"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.HelpTutorialActivityMasPlus"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.HelpTutorialActivityGenioPlus"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.InstructionsActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.InstructionsActivityPrincipiante"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.InstructionsActivityPro"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.InstructionsActivityDeciPlus"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.InstructionsActivityDeciPlusPrincipiante"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.InstructionsActivityDeciPlusPro"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.InstructionsActivityRomas"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.InstructionsActivityRomasPrincipiante"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.InstructionsActivityRomasPro"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.InstructionsActivityAlfaNumeros"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.InstructionsActivityAlfaNumerosPrincipiante"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.InstructionsActivityAlfaNumerosPro"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.InstructionsActivitySumaResta"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.InstructionsActivitySumaRestaPrincipiante"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.InstructionsActivitySumaRestaPro"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.InstructionsActivityMasPlus"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.InstructionsActivityMasPlusPrincipiante"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.InstructionsActivityMasPlusPro"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.InstructionsActivityGenioPlus"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.InstructionsActivityGenioPlusPrincipiante"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.InstructionsActivityGenioPlusPro"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.GameActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.GameActivityPrincipiante"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.GameActivityPro"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.GameActivityDeciPlus"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.GameActivityDeciPlusPrincipiante"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.GameActivityDeciPlusPro"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.GameActivityRomas"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.GameActivityRomasPrincipiante"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.GameActivityRomasPro"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.GameActivityAlfaNumeros"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.GameActivityAlfaNumerosPrincipiante"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.GameActivityAlfaNumerosPro"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.GameActivitySumaResta"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.GameActivitySumaRestaPrincipiante"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.GameActivitySumaRestaPro"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.GameActivityMasPlus"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.GameActivityMasPlusPrincipiante"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.GameActivityMasPlusPro"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.GameActivityGenioPlus"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.GameActivityGenioPlusPrincipiante"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.GameActivityGenioPlusPro"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.InstructionsLevelsActivityFocoPlus"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.GameActivityFocoPlus"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.LevelResultActivityFocoPlus"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.ExerciseReviewActivityFocoPlus"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true"
            android:theme="@style/Theme.SumaMente.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.heptacreation.sumamente.ui.LanguageSelectionActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.LanguageChangeActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.TransitionActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name="com.heptacreation.sumamente.ui.NotificationsActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name="com.heptacreation.sumamente.ui.UsernameSelectionActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name="com.heptacreation.sumamente.ui.MainGameActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name="com.heptacreation.sumamente.ui.ClassificationActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name="com.heptacreation.sumamente.ui.TrofeosActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name="com.heptacreation.sumamente.ui.PinesActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name="com.heptacreation.sumamente.ui.CoronasActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name="com.heptacreation.sumamente.ui.MedallasActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name="com.heptacreation.sumamente.ui.TrofeosDetailActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name="com.heptacreation.sumamente.ui.Top10Activity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name="com.heptacreation.sumamente.ui.Los7MejoresActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name="com.heptacreation.sumamente.ui.Los5MejoresActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name="com.heptacreation.sumamente.ui.DesafiosActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name="com.heptacreation.sumamente.ui.LevelResultActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name="com.heptacreation.sumamente.ui.LevelResultActivityPrincipiante"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name="com.heptacreation.sumamente.ui.LevelResultActivityPro"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name="com.heptacreation.sumamente.ui.ExerciseReviewActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />


        <activity
            android:name="com.heptacreation.sumamente.ui.LevelResultActivityDeciPlus"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name="com.heptacreation.sumamente.ui.LevelResultActivityDeciPlusPrincipiante"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name="com.heptacreation.sumamente.ui.LevelResultActivityDeciPlusPro"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name="com.heptacreation.sumamente.ui.ExerciseReviewActivityDeciPlus"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />


        <activity
            android:name="com.heptacreation.sumamente.ui.LevelResultActivityRomas"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name="com.heptacreation.sumamente.ui.LevelResultActivityRomasPrincipiante"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name="com.heptacreation.sumamente.ui.LevelResultActivityRomasPro"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name="com.heptacreation.sumamente.ui.ExerciseReviewActivityRomas"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name="com.heptacreation.sumamente.ui.LevelResultActivityAlfaNumeros"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name="com.heptacreation.sumamente.ui.LevelResultActivityAlfaNumerosPrincipiante"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name="com.heptacreation.sumamente.ui.LevelResultActivityAlfaNumerosPro"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name="com.heptacreation.sumamente.ui.ExerciseReviewActivityAlfaNumeros"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name="com.heptacreation.sumamente.ui.LevelResultActivitySumaResta"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name="com.heptacreation.sumamente.ui.LevelResultActivitySumaRestaPrincipiante"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name="com.heptacreation.sumamente.ui.LevelResultActivitySumaRestaPro"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name="com.heptacreation.sumamente.ui.ExerciseReviewActivitySumaResta"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name="com.heptacreation.sumamente.ui.LevelResultActivityMasPlus"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name="com.heptacreation.sumamente.ui.LevelResultActivityMasPlusPrincipiante"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name="com.heptacreation.sumamente.ui.LevelResultActivityMasPlusPro"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name="com.heptacreation.sumamente.ui.ExerciseReviewActivityMasPlus"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name="com.heptacreation.sumamente.ui.LevelResultActivityGenioPlus"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name="com.heptacreation.sumamente.ui.LevelResultActivityGenioPlusPrincipiante"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name="com.heptacreation.sumamente.ui.LevelResultActivityGenioPlusPro"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name="com.heptacreation.sumamente.ui.ExerciseReviewActivityGenioPlus"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name="com.heptacreation.sumamente.ui.GameSelectionActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name="com.heptacreation.sumamente.ui.ProgressSummaryActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.DifficultySelectionActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.heptacreation.sumamente.ui.HelpGameSelectionActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />


        <activity
            android:name="com.heptacreation.sumamente.ui.ApexSupremusActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name="com.heptacreation.sumamente.ui.RankingActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name="com.heptacreation.sumamente.ui.SpeedRankingActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name="com.heptacreation.sumamente.ui.IQPlusRankingActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name="com.heptacreation.sumamente.ui.IntegralRankingActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name="com.heptacreation.sumamente.ui.SpeedClassificationActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <activity
            android:name="com.heptacreation.sumamente.ui.MisCondecoracionesActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.SumaMente" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1889227735632244~1849487182"/>



        <activity
            android:name=".s5e.ui.GameActivityS5E"
            android:exported="false" />
        <activity
            android:name=".s5e.ui.StatsActivityS5E"
            android:exported="false" />
        <activity
            android:name=".s5e.ui.S5EHomeActivity"
            android:exported="true" />
        <activity
            android:name=".s5e.ui.S5ESelectDifficultyActivity"
            android:exported="false" />


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>